<h1>Editing Dashboard Newsletter</h1>

<%= render 'form', dashboard_newsletter: @dashboard_newsletter %>

<%= link_to 'Show', @dashboard_newsletter %> |
<%= link_to 'Back', dashboard_newsletters_path %>
